/*media*/

@media (min-width: 1200px) {
    .j-1{
        justify-content: end;
        display: inline-block!important;
    }
    .mg-1{
        width: 1146px;
        margin-left: 361px;
        margin-right: 361px;
    }
    header {
        nav {
            .container-fluid{
                align-items: end!important;
            }
        }
    }
    .ul-c{
        display: inline-flex!important;
    }
    .pd-cm{
        padding: auto;
    }
    .img-c-1{
        height: 100%;
    }
    .mg-1{
            display: block;
            visibility: visible;
            justify-content: end;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
    }
} 


@media (min-width: 992px) and (max-width: 1199px){
    .ft-a2{
        font-size: 19px;
        line-height: .2;
    }
    .img-c-1{
        height: 100%;
    }
    .j-1{
        justify-content: end;
    }
    .pd-m{
        padding-left: 50px;
        padding-right: 50px;
    }
    header {
        nav {
            div {
                .d-flex{
                    display: block!important;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px)  {
    body{
        background-image: none;
    }

    .ft-a2{
        font-size: 16px;
        line-height: .2;
    }

    ul{
        li{
            .h6{
                font-size: 12px;
            }
        }
    }

    .mg-1{
        display: block;
        visibility: visible;
        padding: 0px;
        justify-content: end;
    }
    .pd-c2{
        margin-top: 20px;
    }
    header {
        nav {
            div {
                .d-flex{
                    display: block!important;
                }
            }
        }
    }
    .pepe{
        justify-content: space-between;
    }
    .mg-nm{
        margin-right: 458px;
    }
    .sub-cnt-ind{
        margin-left: 18px;
    }
    .f-c1{
        font-size: 14px;
    }
    .ti-c1{
        font-size: 15px;
    }
    .ft-h3{
        font-weight: 700;
        margin-bottom: 14px;
    }
    .tit-ntc-1{
        font-size: 35px;
    }
}

@media (min-width: 576px) and (max-width: 767px){
    body{
        background-image: none;
    }

    .ft-a2{
        font-size: 19px;
        line-height: .2;
    }
    .img-c-1{
        width: auto;
    }
    .mg-1{
        display: block;
        visibility: visible;
        padding: 0px;
        justify-content: end;
    }
    .pd-c2{
        margin-top: 20px;
    }
    .img-c{
        margin: 0px;
    }
    ul {
        li{
            .d-flex{
                display: block!important;
            }
        }
    }
    .wd-c1{
        width: 390px;
        margin: 0px;
    }
    .bg-c3{
        background-color: transparent;
    }
    .text-cu{
        color: white;
    }

    header {
        nav {
            div {
                .d-flex{
                    display: block!important;
                }
            }
        }
    }
    .f-c1{
        font-size: 14px;
    }
    .ti-c1{
        font-size: 15px;
    }
    .ft-h3{
        font-weight: 700;
        margin-bottom: 14px;
    }
    .tit-ntc-1{
        font-size: 30px;
    }
    .mg-nm{
        margin-right: 275px;
    }
}
@media (min-width: 426px) and (max-width: 575px){
    body{
        background-image: none;
    }

    .ft-a2{
        font-size: 19px;
        line-height: .2;
    }
    .img-c-1{
        width: auto;
    }
    .mg-1{
        display: block;
        visibility: visible;
        padding: 0px;
        justify-content: end;
    }
    .pd-c2{
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .img-c{
        margin: 0px;
    }
    ul {
        li{
            .d-flex{
                display: block!important;
            }
        }
    }
    .wd-c1{
        width: auto;
        margin: 0px;
    }
    .bg-c3{
        background-color: transparent;
    }
    .text-cu{
        color: white;
    }
    header {
        nav {
            div {
                .d-flex{
                    display: block!important;
                }
            }
        }
    }
    .f-c1{
        font-size: 14px;
    }
    .ti-c1{
        font-size: 15px;
    }
    .ft-h3{
        font-weight: 700;
        margin-bottom: 14px;
    }
    .tit-ntc-1{
        font-size: 30px;
    }
}
@media(max-width: 425px){
    body{
        background-image: none;
    }

    .ft-a2{
        font-size: 19px;
        line-height: .2;
    }
    .img-c-1{
        width: auto;
    }
    .mg-1{
        display: block;
        visibility: visible;
        padding: 0px;
        justify-content: end;
    }
    .pd-c2{
        margin-top: 20px;
    }
    .img-c{
        margin: 0px;
    }
    ul {
        li{
            .d-flex{
                display: block!important;
            }
        }
    }
    .wd-c1{
        width: auto;
        margin: 0px;
    }
    .bg-c3{
        background-color: transparent;
    }
    .text-cu{
        color: white;
    }
    .sub-cnt-ind{
        margin-left: 0px;
    }
    header {
        nav {
            div {
                .d-flex{
                    display: block!important;
                }
            }
        }
    }
    .f-c1{
        font-size: 14px;
    }
    .ti-c1{
        font-size: 15px;
    }
    .ft-h3{
        font-weight: 700;
        margin-bottom: 14px;
    }
    .tit-ntc-1{
        font-size: 30px;
    }
}