/*variables*/
$c-fondo: #555555;
$c-paper: #fff;

@mixin degrade{
    background-image: linear-gradient(#131313,#252525);
}

*{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
body{
    overflow-x: hidden;
    right: 0px 400px 0px 0px;
    background-color: $c-fondo;
}

.navBackground{
    background-size: 100%;
    top: 0px;
    position: sticky;
    z-index: 1;
}
.mainBackground{
    background-color: #ededed;
    height: auto;
    border-style: solid;
    border-radius: 10px;
    border-color: #aaaaaa;
    margin-top: 5px;
}
.i-po{
    margin-left: 77px;
}

.pd-m{
    padding-left: 87px;
    padding-right: 87px;
    margin-top: 20px;
}
.pd-c2{
    border-radius: 15px;
    width: auto;
    padding: 30px;
    background-color: rgb(223, 223, 223);
    margin-bottom: 30px;
}
.pd-c1{
    padding: 0px;
    width: auto;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 20px;
}
.mg-0{
    margin:0px;
}
.hg-c{
    width: auto;
    margin-right: 0px;
}
.nav-cu{
    width: auto;
    height: auto;
    margin-right: 10px;
}
.mg-1{
    padding: 60px;
    border-radius: 15px;
    background-color: $c-paper;
    margin-top: 20px;
}
.mg-c2{
    margin: 0px;
    font-family: 'Arvo', serif;
    font-size: 18px;
}
.bg-c1{
    background-color: #acacac;
}

.hc-1{
    width: 100%;
    height: 100%;
}
.box-img-c:hover{
    opacity: 1;
    visibility: visible;
    box-shadow: 0px 15px 25px rgba(0,0,0,0.5);
    transition: 200ms;
}
.tit-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    line-height: 36px;
}
.tit-ntc-1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 41px;
    font-weight: 700;
}

.text-hc2:hover{
    font-size: 23px;
}
.text-hc2{
    width: 100%;
    height: 100%;
}
.hover-a{    
        a:hover{
            color: black!important;
            transition: 200ms;
        }
    }

.bt-c1{
    width: 78.26px;
    height: auto;
}

.ntc-ind{
    margin-top: 24px;
    @extend .pd-c0;
    background-color: transparent;
    border: 0px solid ;
    border-radius: 15px;
}
.ntc-ind-itm{
    margin-left: 10px;
}
.ntc-ind-img1{
    margin-right: 25px;
}
.sub-cnt-ind{
    margin-left: 50px;
    @extend .pd-c0;
    width: auto;
}
.pd-c0{
    padding: 0px;
}
.wd-c1{
    height: auto;
    margin-right: 10px;
}
.ft-a1{
    transition: .15s;
    line-height: 26px;
}
.ft-a2{
    color: black;
    text-decoration: none;
    font-size: 22px;
}
.mg-ntc-ind{
    margin-top: 10px;
    line-height: 21px;
    font-weight: 600px;
}
.ntc-p-a{
    text-decoration: none;
}
.img-c{
    width: auto;
    margin-right: 25px;
    margin-left: 0px;
}
.img-c-1{
    width: 725.5px;
    height: 220px;
}
.img-c-2{
    width: auto;
    height: 220px;
}
.ul-in{
    z-index: 0;
}
.f-background{
    @include degrade;
    margin-top: 5px;
    background-size: 100%;
    height: 100px;
}
.bg-c2{
    @include degrade;
}
.bg-c3{
    background-color: #fff;
}
.text-cu{
    color: black;
}
.f-pa{
    padding-top: 7px;
    padding-bottom: 7px;
}
.d-cu{
    width: 100%;
    height: 100%;
}
.f-c1{
    font-size: 16px;
    font-weight: 26px;
}
.pd-c3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.brd-c1{
    padding-left: 16px;
    border-left: 5px solid #B7B7B7;
}
.mg-c3{
    margin-top: 20px;
    margin-bottom: 20px;
}
.ti-c1{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
}

@import "mediaqueri";